.row{
margin-top: 50px;
margin-left: 10px;
}



h1 {
  text-align: center;
}

.content {
  background-color: #131b21;
  font-family: 'Poppins', sans-serif;

}
.cast-details{
font-size: small;
}
.cast-label {
  margin-right: 49px;
}
.genre-label {
  margin-right: 60px;
}
.language-label{
  margin-right: 34px;

}

.date-label {
  margin-right: 32px;
}

.wrapper-box {
  border: 2px solid white;
  margin-top: 40px;
  padding: 10px;
}

.rating-label {
  margin-right: 58px;
}
.seasonsbox {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;

}

